.layout {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.main {
  background-color: #f6f5f7;
  height: 100%;
  min-height: 100vh;
  flex: 1 1 83%;
}

@media screen and (max-width: 1023px) {
  .main {
    flex-basis: 100%;
    max-width: 100%;
  }
}
