@charset "UTF-8";

/* Light */
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("OpenSans-Light"),
    url("../fonts/OpenSans-Light.woff") format("woff"),
    url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
