.container {
  width: 100%;
  display: block;
}

.menu ul {
  display: flex;
  flex-direction: column;
}

.menu ul li {
  text-align: center;
  margin-bottom: 1rem;
}

.menu ul li a {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.menu ul li a:hover {
  color: #61dafb;
}

.mobile {
  display: none;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
  background-color: red;
}

.mobile ul {
  visibility: hidden;
  position: fixed;
  right: 15px;
  bottom: 50px;
  z-index: 100;
  transform: translateY(15px);
  transition: transform 0.5s ease-in-out;
}

.mobile ul li {
  text-align: right;
  margin-bottom: 1rem;
}

.mobile ul li a {
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.mobile ul li a:hover {
  color: #61dafb;
}

.active.mobile ul {
  visibility: visible;
  transform: translateY(-5px);
}

.active.mobile ul li a {
  opacity: 1;
}

.button {
  background-color: #1f1f1f;
  border: 0;
  border-radius: 50%;
  padding: 0;
  height: 57px;
  width: 57px;
  text-align: center;
  position: fixed;
  bottom: 14px;
  right: 14px;
  z-index: 100;
  cursor: pointer;
}

.line {
  background-color: #fff;
  display: block;
  margin: 4px auto;
  height: 2px;
  width: 20px;
  transition: transform 0.3s ease-in-out;
}

.button:hover .line {
  background-color: #61dafb;
}

.lineTop {
  transform: translateY(3px) rotate(225deg);
  transform-origin: center;
}

.lineBottom {
  transform: translateY(-3px) rotate(-225deg);
  transform-origin: center;
}

.circle {
  background-color: #1f1f1f;
  border-radius: 50%;
  z-index: 99;
  height: 55px;
  width: 55px;
  transition: all 0.3s ease-in-out;
  /* transform: translateX(50px) scale(9); */
}

.active .circle {
  transform: translateX(50px) scale(9);
}

@media screen and (max-width: 1023px) {
  .mobile {
    display: block;
  }
}
